.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    margin: 0 20%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option{
    background: var(--amarelo);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 2px solid transparent;
    transition: var(--transition);
}

/* .contact__option:hover{
    background: transparent;
} */

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-primary);
}

.contact__option h4,h5 {
    color: var(--color-primary);
    font-weight: 800;
}

.contact__option svg {
    width: 30px;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    color: var(--color-primary);
    font-size: 0.9rem;
    font-weight: 800;
}

/*===================================== FORM =======================*/
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

label{
    color: var(--color-primary);
}

input , textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
    color: var(--color-primary);
}

/*============================================================ MEDIA QUERYES ================================================*/

@media screen and (max-width:1024px) {
    .contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
 }

